#===============================================================================
# Rust build artifacts
#===============================================================================
/target/

#===============================================================================
# Don't lock the dependencies for library crates
#===============================================================================
/Cargo.lock

#===============================================================================
# IDEs and editors
#===============================================================================
.vscode/
.idea/
